<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>GPACalc</title>

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">

    <!-- Loading Javascript Stuff -->
    <script type="text/javascript" src="javascript/clientJavascript.js"></script>
    <script type="text/javascript" src="angularjs/angular.js"></script>

    <script type="text/javascript" src="javascript/app.js"></script>
    <script type="text/javascript" src="javascript/navbar.controller.js"></script>
    <script type="text/javascript" src="javascript/gpa.controller.js"></script>
</head>
<body ng-app="mainApp" ng-controller="gpaCtrl as form">
<div ng-include="'views/navbar.html'" class="text-lowercase"></div>
<div class="container">
    <li class="list-group-item" ng-repeat="test in form.data">Class: {{test.name}}, Grade: {{test.grade}}, Credits: {{test.credit}}</li>
</div>
</body>
</html>